@import '../../common/styles/mixins/mixins';
@import '../../common/styles/variables/variables';

.wrapper__table {
  display: table;
  border-collapse: separate;
  border-spacing: 0 2px;

  tr {
    border-spacing: 0 10px;
    line-height: 30px;
  }

  tr:nth-child(even) {
    background: $table-even-lines;
    &:hover {
      background: $table-lines-hover;
      transition: .3s ease-out all;
    }
  }

  tr:nth-child(odd) {
    background: $table-odd-lines;
    &:hover {
      background: $table-lines-hover;
      transition: .3s ease-out all;
    }
  }

  .tableHead {

    @media (max-width: 600px) {
      display: none;
    }

    tr {
      @include text(18px, 20px, 500, $main-text-color);
      background-color: transparent;
      line-height: 50px;

      &:hover {
        background: transparent;
        pointer: none
      }

      @media (max-width: 1333px) {
        @include text(16px, 16px, 500, $main-text-color)
      }
    }

    .tableHead__players {
      display: flex;
      justify-content: start;
    }

    .tableHead__totalBets {
      display: flex;
      justify-content: end;
    }
  }
}