@import '../../common/styles/mixins/mixins';
@import '../../common/styles/variables/variables';

.wrapper_homePage {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &::before {
    content: '';
    align-items: center;
    display: block;
    margin-top: 5px;
    height: 1px;
    width: 100%;
    background-color: $main-text-color;
    
    @media (max-width: 1000px) {
      display: none;
    }
  }

  .wrapper__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: end;

    .filterBar__button {
      padding: 6px 14px;
      border-radius: 8px;
      border: 1px solid $unActive-button-border;
      @include text(16px, 20px, 600, $main-text-color);

      @media (max-width: 1000px) {
        padding: 5px 12px;
        @include text(14px, 16px, 500, $main-text-color);
      }

      &:hover {
        background-color: $active-color;
        border: 1px solid $active-color;
        color: white;
        transition: .3s ease-out all;
      }
    }

    .activeBtn {
      background-color: $active-color;
      border: 1px solid $active-color;
      color: white;
    }
  }
}