@import '../../../common/styles/mixins/mixins';
@import '../../../common/styles/variables/variables';


.placeBetForm_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  padding: 0 10px;

  @media (max-width: 650px) {
    grid-area: placeBet;
    align-items: center;
  }

  .placeBetForm_input_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    @include text(16px, 22px, 400, $main-text-color);

    @media (max-width: 850px) {
      @include text(15px, 18px, 400, $main-text-color);
    }
    @media (max-width: 850px) {
      @include text(14px, 20px, 400, $main-text-color);
    }

    input[type=radio] {
      display: none;
    }

    label {
      display: flex;
      gap: 10px;

      .placeBetForm_input_radio {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: .2rem solid #AFAEAE;

        @media (max-width: 850px) {
          width: 13px;
          height: 13px;
        }
        @media (max-width: 850px) {
          width: 10px;
          height: 10px;
        }
      }
    }

    input[type=radio]:checked ~ label {
      color: $green-color;
      font-weight: 600;

      .placeBetForm_input_radio {
        background-color: $green-color;
        border-color: $green-color;
      }

      span {
        font-weight: 800;
      }
    }

    input[type=radio]:hover ~ label {
      color: $green-color;
      transition: .3s ease-out all;

      .placeBetForm_input_radio {
        border-color: $green-color;
      }
    }
  }

  .placeBetForm_button {
    width: 100%;
    @include text(24px, 22px, 400, $white-color);
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    background-color: $green-color;

    @media (max-width: 1000px) {
      @include text(22px, 22px, 400, $white-color);
      padding: 7px 25px;
    }
    @media (max-width: 850px) {
      @include text(20px, 20px, 400, $white-color);
    }
    @media (max-width: 850px) {
      @include text(18px, 20px, 400, $white-color);
    }
    @media (max-width: 400px) {
      width: 180px;
    }

    &:disabled {
      background-color: $background-disable-button;
      color: $text-color-disable-button;
    }

    &:hover:enabled {
      transition: .3s ease-out all;
      background-color: $green-color-for-border;
    }
  }
}