@import '../../../common/styles/mixins/mixins';
@import '../../../common/styles/variables/variables';


.wrapper_categoryItem {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 8px;
  background-color: #F9D423;

  @media (max-width: 1000px) {
    margin: 0 3px;
  }

  .categoryItem__icon {
    width: 50px;
    height: 50px;
    filter: invert(65%) sepia(11%) saturate(14%) hue-rotate(66deg) brightness(93%) contrast(93%);

    @media (max-width: 1000px) {
      width: 45px;
      height: 45px;
    }
  }

  .categoryItem__name {
    @include text(18px, 20px, 400, #9b9b9b);

    @media (max-width: 1000px) {
      @include text(16px, 16px, 400, #9b9b9b);
    }
  }

  &:hover {
    .categoryItem__icon {
      filter: none;
      transition: .3s ease-out all;
    }

    .categoryItem__name {
      @include text(18px, 20px, 400, $main-text-color);

      @media (max-width: 1000px) {
        @include text(16px, 16px, 400, $main-text-color);
      }
    }
  }
}

.wrapper_categoryItemActive {
  margin: 0 8px;

  @media (max-width: 1000px) {
    margin: 0 3px;
  }

  .categoryItem__icon {
    filter: none;

    @media (max-width: 1000px) {
      width: 45px;
      height: 45px;
    }
  }

  .categoryItem__name {
    @include text(18px, 20px, 400, $main-text-color);

    @media (max-width: 1000px) {
      @include text(16px, 16px, 400, $main-text-color);
    }
  }

  &::after {
    content: '';
    align-items: center;
    display: block;
    margin-top: 5px;
    height: 1px;
    width: 100%;
    background-color: $main-text-color;
  }
}