@import '../../common/styles/mixins/mixins';
@import '../../common/styles/variables/variables';


.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  background-color: $main-text-color;
  padding: 9px 50px;

  .header__logo {
    display: flex;
    align-items: center;
    gap: 10px;


    img {
      height: 40px;
    }

    span {
      @include text(20px, 17px, 500, #ffffff);
      text-decoration: none;
    }
  }

  .header_buttonBlock {
    display: flex;
    gap: 10px;

    .header_button {
      padding: 5px 10px;
      @include text(16px, 17px, 300, #ffffff);
      background-color: transparent;
      border: 1px solid #ffffff;
      border-radius: 7px;

      &:hover,
      &:active {
        color: #2a2a2a;
        background-color: white;
      }
    }
  }
}