@import '../../../common/styles/mixins/mixins';
@import '../../../common/styles/variables/variables';

.eventRow__wrapper {
  display: table-row;
  align-items: stretch;
  padding: 20px 0;

  @media (max-width: 600px) {
    display: grid;
    grid-template-areas:
    'liveIcon player hostWin draw guestWin'
    'liveOrSoon player  hostWin draw guestWin';
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    padding: 0;
    height: 50px;
  }
  @media (max-width: 550px) {
    grid-template-columns: 0.5fr 4fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
  }
  @media (max-width: 530px) {
    height: 40px;
    padding: 1px;
  }

  td {
    @media (max-width: 1190px) {
      padding-right: 5px;
    }
  }

  .eventRow_icon_wrapper {
    width: 50px;
    height: 50px;

    @media (max-width: 1190px) {
      width: 30px;
      height: 40px;
    }
    @media (max-width: 600px) {
      grid-area: liveIcon;
      height: 20px;
    }

    .eventRow_icon {
      width: 25px;
      padding-top: 5px;

      @media (max-width: 1190px) {
        width: 20px;
        padding-left: 7px;
      }
    }

    .eventRow_icon_live {
      filter: invert(41%) sepia(89%) saturate(2424%) hue-rotate(341deg) brightness(99%) contrast(103%);
    }
  }

  .eventRow_time {
    @include text(16px, 18px, 500, $main-text-color);
    width: 70px;

    @media (max-width: 1190px) {
      @include text(14px, 16px, 500, $main-text-color);
      width: 40px;
    }
    @media (max-width: 600px) {
      grid-area: liveOrSoon;
    }
    @media (max-width: 530px) {
      width: 35px;
    }
  }

  .eventRow_time_live {
    color: $active-color;
  }

  .players_wrapper {
    display: flex;
    justify-content: start;
    width: 700px;

    @media (max-width: 1190px) {
      width: 600px;
    }
    @media (max-width: 1050px) {
      width: 400px;
    }
    @media (max-width: 800px) {
      width: 300px;
    }
    @media (max-width: 600px) {
      grid-area: player;
    }
    @media (max-width: 550px) {
      width: 280px;
    }
    @media (max-width: 530px) {
      width: 240px;
    }
    @media (max-width: 450px) {
      width: 200px;
    }
    @media (max-width: 380px) {
      width: 170px;
    }
    @media (max-width: 330px) {
      width: 150px;
    }
    @media (max-width: 310px) {
      width: 130px;
    }

    .eventRow_players_link {
      padding-top: 15px;
      display: flex;
      align-content: center;
      text-decoration: none;
      @include text(16px, 18px, 500, $main-text-color);

      @media (max-width: 1190px) {
        padding-top: 12px;
        @include text(16px, 18px, 500, $main-text-color);
      }
      @media (max-width: 530px) {
        @include text(14px, 16px, 500, $main-text-color);
      }
      @media (max-width: 450px) {
        flex-direction: column;
        padding-top:2px;
        width: 100%;
      }
    }
  }

  .winOfHost_wrapper,
  .draw_wrapper,
  .winOfGuest_wrapper {
    width: 50px;
    @include text(16px, 18px, 400, $main-text-color);

    @media (max-width: 1190px) {
      @include text(14px, 16px, 400, $main-text-color);
    }
    @media (max-width: 600px) {
      padding-top: 15px;
    }
    @media (max-width: 530px) {
      @include text(13px, 14px, 400, $main-text-color);
      width: 40px;
    }
    @media (max-width: 430px) {
      width: 25px;
    }
  }

  .winOfHost_wrapper {
    @media (max-width: 600px) {
      grid-area: hostWin;
    }
  }

  .draw_wrapper {
    @media (max-width: 600px) {
      grid-area: draw;
    }
  }

  .winOfGuest_wrapper {
    @media (max-width: 600px) {
      grid-area: guestWin;
    }
  }

  .totalBets_wrapper {
    padding-left: 50px;
    @include text(16px, 18px, 500, $active-color);

    @media (max-width: 1190px) {
      @include text(14px, 16px, 500, $active-color);
      padding-left: 40px;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
}
